[submodule "Act01"]
	path = Act01
	url = https://github.com/AngelLizardo-Waggamer/Act01-DevAndroid.git
[submodule "Act02"]
	path = Act02
	url = https://github.com/AngelLizardo-Waggamer/Act02-DevAndroid.git
[submodule "Act03"]
	path = Act03
	url = https://github.com/AngelLizardo-Waggamer/Act03-DevAndroid.git
[submodule "Act04"]
	path = Act04
	url = https://github.com/AngelLizardo-Waggamer/Act04-DevAndroid.git
[submodule "ACT05"]
	path = ACT05
	url = https://github.com/AngelLizardo-Waggamer/Act05-DevAndroid.git
[submodule "Act06"]
	path = Act06
	url = https://github.com/AngelLizardo-Waggamer/Act06-DevAndroid.git
[submodule "Act07"]
	path = Act07
	url = https://github.com/AngelLizardo-Waggamer/Act07-DevAndroid.git
[submodule "Act08"]
	path = Act08
	url = https://github.com/AngelLizardo-Waggamer/Act08-DevAndroid.git
